# Exercise 6: Weather anomalies (10 points)

The aim of this exercise is to analyze historical weather data.
- In Problem 1 you read in a tricky data file and explore it's contents.
- In problem 2, you will convert and aggregate the data from daily temperatures in Fahrenheit, to monthly average temperatures in Celsius.
- In Problem 3, you will finally analyze weather anomalies by comparing monthly average temperatures to a long-term average.

### Tips for completing this exercise

- Use **exactly** the same variable names as in the instructions because your answers will be automatically graded, and the tests that grade your answers rely on following the same formatting or variable naming as in the instructions.
- **Please do not**:

    - **Change the file names**. Do all of your editing in the provided `Exercise-6-problems-1-3.ipynb` file (this file).
    - **Copy/paste cells in this notebook**. We use an automated grading system that will fail if there are copies of code cells.
    - **Change the existing cell types**. You can add cells, but changing the cell types for existing cells (from code to markdown, for example) will also cause the automated grader to fail.

## AI tool usage agreement

**Enter your name (and that of your partner) in the cell below** to confirm that you have followed the [course guidelines on the use of AI tools](https://geo-python-site.readthedocs.io/en/latest/course-info/ai-tools.html) and understand that misuse of AI tools is considered cheating.

Brett Peters

## Problem 1 - Reading in a tricky data file (2 points)

You first task for this exercise is to read in the data file [data/1091402.txt](data/1091402.txt) to a variable called `data`. Pay attention to the input data structure and no data values.

### Scores for this problem

**Your score on this problem will be based on following criteria:**

- Reading the data into a variable called `data` using pandas
    - Skipping the second row of the datafile that contains `----------` characters that don't belong to the data
    - Convert the no-data values (`-9999`) into `NaN` 
- Calculating basic statistics from the data
- Including comments that explain what most lines in the code do

### Part 1 (1 point)

You should start by loading the data file.

- Read the data file into variable the variable `data`
    - Skip the second row
    - Convert the no-data values (`-9999`) into `NaN`

In [4]:
data = None

import pandas as pd
data = pd.read_csv(r"data/1091402.txt", skiprows=(1,2), delim_whitespace=True, na_values=[-9999])

C:\Users\brett\AppData\Local\Temp\ipykernel_20728\1399126164.py:4: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  data = pd.read_csv(r"data/1091402.txt", skiprows=(1,2), delim_whitespace=True, na_values=[-9999])

In [6]:
# Check that the dataframe looks ok:
data.head()

,STATION,ELEVATION,LATITUDE,LONGITUDE,DATE,PRCP,TAVG,TMAX,TMIN
0,GHCND:FIE00142080,51,60.3269,24.9603,19520102,NaN,35.0,37.0,34.0
1,GHCND:FIE00142080,51,60.3269,24.9603,19520103,0.14,33.0,36.0,NaN
2,GHCND:FIE00142080,51,60.3269,24.9603,19520104,0.05,29.0,30.0,25.0
3,GHCND:FIE00142080,51,60.3269,24.9603,19520105,0.06,27.0,30.0,25.0
4,GHCND:FIE00142080,51,60.3269,24.9603,19520106,NaN,26.0,36.0,NaN

In [8]:
# Check the last rows of the data (there should be some NaN values)
data.tail()

,STATION,ELEVATION,LATITUDE,LONGITUDE,DATE,PRCP,TAVG,TMAX,TMIN
23710,GHCND:FIE00142080,51,60.3269,24.9603,20170930,NaN,47.0,49.0,44.0
23711,GHCND:FIE00142080,51,60.3269,24.9603,20171001,0.04,47.0,48.0,45.0
23712,GHCND:FIE00142080,51,60.3269,24.9603,20171002,NaN,47.0,49.0,46.0
23713,GHCND:FIE00142080,51,60.3269,24.9603,20171003,0.94,47.0,NaN,44.0
23714,GHCND:FIE00142080,51,60.3269,24.9603,20171004,0.51,52.0,56.0,NaN

### Part 2 (1 point)

In this section, you will calculate some basic statistics of the input data.

- Calculate how many no-data (NaN) values there are in the `TAVG` column
    - Assign your answer to a variable called `tavg_nodata_count`

In [11]:
tavg_nodata_count = None

tavg_nodata_count = sum(data["TAVG"].isna())
print(len(data))

23715

In [13]:
# Print out the solution:
print(f'Number of no-data values in column "TAVG": {tavg_nodata_count}')

Number of no-data values in column "TAVG": 3308

- Calculate how many no-data (NaN) values there are for the `TMIN` column
    - Assign your answer into a variable called `tmin_nodata_count`

In [16]:
tmin_nodata_count = None

tmin_nodata_count = sum(data["TMIN"].isna())

In [18]:
# Print out the solution:
print(f'Number of no-data values in column "TMIN": {tmin_nodata_count}')

Number of no-data values in column "TMIN": 365

- Calculate the total number of days covered by this data file
    - Assign your answer into a variable called `day_count`

In [21]:
day_count = None

day_count = len(data)

In [23]:
# Print out the solution:
print(f'Number of days: {day_count}')

Number of days: 23715

- Find the date of the oldest (first) observation
    - Assign your answer into a variable called `first_obs`

In [26]:
first_obs = None

first_obs = data["DATE"][1]

In [28]:
# Print out the solution:
print(f'Date of the first observation: {first_obs}')

Date of the first observation: 19520103

- Find the date of the most recent (last) observation
    - Assign your answer into a variable called `last_obs`

In [31]:
last_obs = None

last_obs = data["DATE"].iloc[-1]

In [33]:
# Print out the solution:
print(f'Date of the last observation: {last_obs}')

Date of the last observation: 20171004

- Find the average temperature for the whole data file (all observtions) from column `TAVG`
    - Assign your answer into a variable called `avg_temp`

In [484]:
avg_temp = None

avg_temp = data["TAVG"].mean()

In [486]:
# Print out the solution:
print(f'Average temperature (F) for the whole dataset: {round(avg_temp, 2)}')

Average temperature (F) for the whole dataset: 41.32

- Find the average `TMAX` temperature over the [Summer of '69](https://www.youtube.com/watch?v=9f06QZCVUHg) (months May, June, July, and August of the year 1969)
    - Assign your answer into a variable called `avg_temp_1969`

In [489]:
avg_temp_1969 = None

summer69 = data["TMAX"].loc[(data["DATE"] >= 19690501) & (data["DATE"] >= 19690901)]
avg_temp_1969 = summer69.mean()

In [491]:
# This test print should print a number
print(f"Average temperature (F) for the Summer of '69: {round(avg_temp_1969, 2)}")

Average temperature (F) for the Summer of '69: 48.31

## Problem 2 - Calculating monthly average temperatures (3 points)

For this problem your goal is to calculate monthly average temperatures in degrees Celsius from the daily Fahrenheit values we have in the data file. You can continue working with the same DataFrame that you used in Problem 1.

### Scores for this problem

**Your score on this problem will be based on following criteria:**

- Calculating the monthly average temperatures in degrees Celsius for the each month in the dataset (i.e., for each month of each year)
    - You should store the monthly average temperatures in a new Pandas DataFrame called `monthly_data`
    - `monthly_data` should contain a new column called `temp_celsius` the monthly average temperatures in Celsius
    - Convert the `TAVG` values in Fahrenheit into Celsius and store the output in the `temp_celsius`
- Including comments that explain what most lines in the code do

**Hint**: *You can start by creating a new column with a label for each year and month, and then continue grouping the data based on this information.*

In [494]:
def fahr_to_celsius(temp_fahrenheit):
    """Returns degree celsius based on single argument of degrees fahrenheit"""
    
    # Returns the converted temperature, in degrees celsius
    return (temp_fahrenheit - 32) * (5/9)

monthly_data = None


# Group dataframes within the monthly_data dataframe by year_month
grouped = data.groupby("year_month")
monthly_data = pd.DataFrame()
mean_cols = ["TAVG"]

for key, group in grouped:
    mean_values = group[mean_cols].mean()
    mean_values["year_month"] = key
    row = mean_values.to_frame().transpose()

    monthly_data = pd.concat([monthly_data, row], ignore_index=True)

monthly_data["temp_celsius"] = fahr_to_celsius(monthly_data["TAVG"])
monthly_data["year_month_str"] = monthly_data["year_month"].astype(str)
monthly_data["MONTH"] = monthly_data["year_month_str"].str.slice(start=4, stop=6).astype(int)
monthly_data["YEAR"] = monthly_data["year_month_str"].str.slice(start=0, stop=4).astype(int)
monthly_data.head()

        TAVG  year_month  temp_celsius year_month_str  MONTH  YEAR
0  29.136364    195201.0     -1.590909       195201.0      1  1952
1  24.800000    195202.0     -4.000000       195202.0      2  1952
2  13.807692    195203.0    -10.106838       195203.0      3  1952
3  39.607143    195204.0      4.226190       195204.0      4  1952
4  44.666667    195205.0      7.037037       195205.0      5  1952

In [495]:
# This test prints the length of variable monthly_data
print(len(monthly_data))

# This test prints the column names of monthly_data
print(monthly_data.columns.values)

790
['TAVG' 'year_month' 'temp_celsius' 'year_month_str' 'MONTH' 'YEAR']

In [498]:
# This test prints the mean of temp_celsius
print(monthly_data['temp_celsius'].mean())

5.096835839008211

In [500]:
# This test prints the median of temp_celsius
print(round(monthly_data['temp_celsius'].median(), 2))

4.73

## Problem 3 - Calculating temperature anomalies (5 points)

Our goal in this problem is to calculate monthly temperature anomalies in order to see how temperatures have changed over time, relative to an observation period between 1952-1980. You can continue working with the same data that you used in Problems 1 and 2.

**Your score on this problem will be based on following criteria:**

### Part 1

- Calculating ***the average (mean) temperature for each month (e.g., January, February, March, ...) over the period from 1952 up to and including 1980*** in a new DataFrame called `reference_temps`
    - You should end up with 12 values, 1 mean temperature for each month during the time period (see example table and figure below).
    - The columns in the new DataFrame should be `month` and `ref_temp`
    
Your `reference_temps` dataframe should have the following structure: 1 value for each month of the year (12 total) and the values represent and average in the observation period 1952-1980. The `ref_temp` temperatures should be in degrees Celsius.
   
| month    | ref_temp         |
|----------|------------------|
| 01       | -5.838761        |
| 02       | -7.064088        |
| 03       | -3.874213        |
| ...      | ...              |

### Part 2

- Calculating **a temperature anomaly for every month** in the `monthly_data` DataFrame using the corresponding monthly average temperature for each of the 12 months:
    - In order to achieve this you need to make **a table join** (see [hints for this week](https://geo-python-site.readthedocs.io/en/develop/lessons/L6/exercise-6.html#joining-data-from-one-dataframe-to-another)) between `monthly_data` and `ref_temps` based on the month.
    - The temperature anomaly is calculated as the difference between the temperature for a given month (`temp_celsius` column in `monthly_data`) and the corresponding monthly reference temperature (`ref_temp` column in`reference_temps`).
    - Store the result in a new column `"diff"` 
    
As the output of the table join and the calculation, you should have three new columns in the `monthly_data` DataFrame:

1. `diff`: The temperature anomaly, i.e. the difference between the temperature for a given month (e.g., February 1960) and the mean temperature during the reference period (e.g., the average of all Februaries between 1952 and 1980), 
2. `month`: The month for that row of observations
3. `ref_temp`: The monthly reference temperature

A summary of the relationships between the `monthly_data` and `reference_temps` DataFrames, as well as how the `diff` value should be calculated in the `monthly_data` DataFrame is presented in the figure below.

![Exercise 6 dataframes](img/exercise-6-dataframes.png)<br/>
*Figure 1. Relationships between the `monthly_data` and `reference_temps` DataFrames.*

You should finally report which month had the greatest weather anomaly during the observed time period.

Remember to include comments in your code.

In [503]:
# Calculating the average (mean) temperature for each month (e.g., January, February, March, ...) over the period from 1952 up to and including 1980 
# in a new DataFrame called reference_temps
# You should end up with 12 values, 1 mean temperature for each month during the time period (see example table and figure below).
# The columns in the new DataFrame should be month and ref_temp
# Your reference_temps dataframe should have the following structure: 1 value for each month of the year (12 total) 
# and the values represent and average in the observation period 1952-1980. The ref_temp temperatures should be in degrees Celsius.
reference_temps = pd.DataFrame(columns=["MONTH", "ref_temp"])

for month in range(12):
    reference_temps.loc[month] = month +1
    month_temps = monthly_data[monthly_data["MONTH"] == month+1]
    months_temps_to_1980 = month_temps[month_temps["YEAR"] <= 1980]
    reference_temps.at[month, "ref_temp"] = months_temps_to_1980["temp_celsius"].mean()

reference_temps.head(13)

monthly_data = monthly_data.merge(reference_temps, on="MONTH")

monthly_data["diff"] = reference_temps["ref_temp"] - monthly_data["temp_celsius"]

C:\Users\brett\AppData\Local\Temp\ipykernel_20728\3971474325.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-5.848258359270287' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  reference_temps.at[month, "ref_temp"] = months_temps_to_1980["temp_celsius"].mean()

In [505]:
# Check the monthly data:
monthly_data.head()

,TAVG,year_month,temp_celsius,year_month_str,MONTH,YEAR,ref_temp,diff
0,29.136364,195201.0,-1.590909,195201.0,1,1952,-5.848258,-4.257349
1,24.800000,195202.0,-4.000000,195202.0,2,1952,-7.064088,-3.064088
2,13.807692,195203.0,-10.106838,195203.0,3,1952,-3.874213,6.232625
3,39.607143,195204.0,4.226190,195204.0,4,1952,2.370749,-1.855441
4,44.666667,195205.0,7.037037,195205.0,5,1952,9.482356,2.445319

In [507]:
# Print out desriptive statistics for the relevant columns:
monthly_data[["temp_celsius", "ref_temp", "diff"]].describe()

       temp_celsius    ref_temp       diff
count    682.000000  790.000000  12.000000
mean       5.096836    4.371065   0.613691
std        8.484166    8.285108   2.886643
min      -17.974910   -7.064088  -4.257349
25%       -1.685185   -3.874213  -1.404758
50%        4.726105    4.952240   0.969280
75%       12.870370   13.479851   2.490526
max       22.329749   16.520986   6.232625

Remember also to calculate which month had the largest temperature anomaly during the observed time period in comparison with the reference data. Use the cell below to calculate and print out the answers. Note, you may want to consider the largest absolute value of the temperature anomaly, as well as the largest positive and negative anomalies.

In [512]:
monthly_data.sort_values(by="diff")

negative = monthly_data["diff"][0]
positive = monthly_data.iloc[-1]['diff']

print(f"largest absolute anomaly: ")
print(f"largest positive anomaly: ")
print(f"largest negative anomaly: {negative:.2f} ")
sorted.head()
print(positive)

largest absolute anomaly:
largest positive anomaly:
largest negative anomaly: -4.26
nan

,TAVG,year_month,temp_celsius,year_month_str,MONTH,YEAR,ref_temp,diff
740,52.866667,201309.0,11.592593,201309.0,9,2013,9.934222,NaN
741,43.838710,201310.0,6.577061,201310.0,10,2013,4.952240,NaN
742,38.400000,201311.0,3.555556,201311.0,11,2013,0.245195,NaN
743,34.451613,201312.0,1.362007,201312.0,12,2013,-4.165641,NaN
744,18.483871,201401.0,-7.508961,201401.0,1,2014,-5.848258,NaN
745,31.321429,201402.0,-0.376984,201402.0,2,2014,-7.064088,NaN
746,34.741935,201403.0,1.523297,201403.0,3,2014,-3.874213,NaN
747,42.100000,201404.0,5.611111,201404.0,4,2014,2.370749,NaN
748,51.483871,201405.0,10.824373,201405.0,5,2014,9.482356,NaN
749,56.400000,201406.0,13.555556,201406.0,6,2014,14.661728,NaN
750,67.967742,201407.0,19.982079,201407.0,7,2014,16.520986,NaN
751,63.129032,201408.0,17.293907,201408.0,8,2014,15.045650,NaN
752,53.400000,201409.0,11.888889,201409.0,9,2014,9.934222,NaN
753,42.322581,201410.0,5.734767,201410.0,10,2014,4.952240,NaN
754,36.166667,201411.0,2.314815,201411.0,11,2014,0.245195,NaN
755,29.935484,201412.0,-1.146953,201412.0,12,2014,-4.165641,NaN
756,28.741935,201501.0,-1.810036,201501.0,1,2015,-5.848258,NaN
757,32.214286,201502.0,0.119048,201502.0,2,2015,-7.064088,NaN
758,35.000000,201503.0,1.666667,201503.0,3,2015,-3.874213,NaN
759,41.300000,201504.0,5.166667,201504.0,4,2015,2.370749,NaN
760,49.258065,201505.0,9.587814,201505.0,5,2015,9.482356,NaN
761,56.366667,201506.0,13.537037,201506.0,6,2015,14.661728,NaN
762,60.935484,201507.0,16.075269,201507.0,7,2015,16.520986,NaN
763,62.064516,201508.0,16.702509,201508.0,8,2015,15.045650,NaN
764,54.566667,201509.0,12.537037,201509.0,9,2015,9.934222,NaN
765,41.322581,201510.0,5.179211,201510.0,10,2015,4.952240,NaN
766,40.266667,201511.0,4.592593,201511.0,11,2015,0.245195,NaN
767,35.967742,201512.0,2.204301,201512.0,12,2015,-4.165641,NaN
768,13.580645,201601.0,-10.232975,201601.0,1,2016,-5.848258,NaN
769,31.206897,201602.0,-0.440613,201602.0,2,2016,-7.064088,NaN
770,32.129032,201603.0,0.071685,201603.0,3,2016,-3.874213,NaN
771,40.366667,201604.0,4.648148,201604.0,4,2016,2.370749,NaN
772,56.935484,201605.0,13.853047,201605.0,5,2016,9.482356,NaN
773,59.666667,201606.0,15.370370,201606.0,6,2016,14.661728,NaN
774,63.354839,201607.0,17.419355,201607.0,7,2016,16.520986,NaN
775,60.612903,201608.0,15.896057,201608.0,8,2016,15.045650,NaN
776,54.400000,201609.0,12.444444,201609.0,9,2016,9.934222,NaN
777,40.096774,201610.0,4.498208,201610.0,10,2016,4.952240,NaN
778,31.034483,201611.0,-0.536398,201611.0,11,2016,0.245195,NaN
779,30.580645,201612.0,-0.788530,201612.0,12,2016,-4.165641,NaN
780,26.800000,201701.0,-2.888889,201701.0,1,2017,-5.848258,NaN
781,26.250000,201702.0,-3.194444,201702.0,2,2017,-7.064088,NaN
782,33.258065,201703.0,0.698925,201703.0,3,2017,-3.874213,NaN
783,36.033333,201704.0,2.240741,201704.0,4,2017,2.370749,NaN
784,49.032258,201705.0,9.462366,201705.0,5,2017,9.482356,NaN
785,56.300000,201706.0,13.500000,201706.0,6,2017,14.661728,NaN
786,60.290323,201707.0,15.716846,201707.0,7,2017,16.520986,NaN
787,60.290323,201708.0,15.716846,201708.0,8,2017,15.045650,NaN
788,52.333333,201709.0,11.296296,201709.0,9,2017,9.934222,NaN
789,48.250000,201710.0,9.027778,201710.0,10,2017,4.952240,NaN

## Part 3 (*optional*) - **AI-LLM OK**

Using [ChatGPT](https://openai.com/chatgpt), calculate the reference temperatures and temperature anomalies as directed above.

- Your reference temperatures should be stored in a new DataFrame called `ai_reference_temps`
    - The columns in the new DataFrame should be `month` and `ai_ref_temp`
- Calculate **a temperature anomaly for every month** in the `monthly_data` DataFrame using the corresponding monthly average temperature for each of the 12 months:
    - You again need to make **a table join** (see [hints for this week](https://geo-python-site.readthedocs.io/en/develop/lessons/L6/exercise-6.html#joining-data-from-one-dataframe-to-another)) between `monthly_data` and `ai_ref_temps` based on the month.
    - The temperature anomaly is calculated as the difference between the temperature for a given month (`temp_celsius` column in `monthly_data`) and the corresponding monthly reference temperature (`ai_ref_temp` column in`reference_temps`).
    - Store the result in a new column `"ai_diff"` 

In order to do this, you should post both the prompt you provide to ChatGPT and the code it produces in the cells below. As your prompts may need to be refined to get your code working, please report each prompt so we can see how you arrived at your final version of the function.

### Prompt 1

Enter the text of the first prompt you used for this part of the exercise below.

YOUR ANSWER HERE

Enter the code generated by your first prompt below.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Looking at the function produced by ChatGPT do you see any problems compared to your solution in Part 1? Please comment below about this.

YOUR ANSWER HERE

Test out your code by running the tests below.

In [ ]:
# Check the monthly data:
monthly_data.head()

In [ ]:
# Print out desriptive statistics for the relevant columns:
monthly_data[["temp_celsius", "ai_ref_temp", "ai_diff"]].describe()

### Additional prompts

In the event your code does not pass all of the tests above, please enter the prompt(s) you used to refine the function in the cell below. If you used more than one prompt, you can format them as a Markdown list using the format demonstrated below:

```
1. First prompt
2. Second prompt
3. ...
```

If no additional prompts were needed, you can skip this.

YOUR ANSWER HERE

Enter the final version of your code produced by ChatGPT in the cell below. You can test the code by re-running the tests above after updating the code below.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Does your revised function now pass all of the tests?
- If yes, please comment below about your experience using ChatGPT and the benefits and drawbacks you see.
- If no, what kinds of problems do you see with the revised function produced by ChatGPT compared to your solution in Part 1? Please comment below about this.

YOUR ANSWER HERE

### Final comments

If you have any other comments about your experience using ChatGPT in this problem, please enter those below.

YOUR ANSWER HERE

### On to Problem 4 (*optional*)

Now you can continue to the *optional* [Problem 4](Exercise-6-problem-4.ipynb)